/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 7:38:37 AM
    Author     : Abraham
*/

@font-face {
    font-family: gill;
    src: url(GIL_____.TTF);
}

body {
    //font-family: "Arial", Times, Sans-serif;
    font-family: gill;
    //background-color: rgb(229,252,194);
    //background-color: rgb(220,233,190);
    //color: rgb(89,79,79);
    //color: rgb(52,56,56);
    color: rgb(46,38,51);
    text-align: justify;
}

.odd {
    background-color: lightgray
}

.even {
    background-color: snow
}

.header {
    color: whitesmoke;
}

th {
    background-color: rgb(79,98,40);
}

table, th, td {
   border: 1px solid black;
   font-size: small;
}

h2 {
    color: rgb(23,54,93);
}

h3, h4 {
    color: rgb(0,112,192);
}

blockquote {
    font-style: italic;
    text-align: center;
}

img {
    width: 100%;
}

table {
    width: 98%;
}
